html,body {
    background: #158fd4;
    margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5,h6 {
    color: #0e4a80;
}

body {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 100%;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    padding: 2.5% 2.5% 0;
    background: white;
    line-height: 1.8;
}

h1 {
    font: 1.6em Verdana, Geneva, sans-serif;
    margin-bottom: .4em;
    color: #01050b;
}

h2 {
    font: 3.2em Georgia, "Times New Roman", Times, serif;
    margin-bottom: .2em;
}

h3 {
    font-size: 1.2em;
}

p {
    margin-bottom: 1em;
}

.center {
    text-align: center;
}

table {
    border-collapse: collapse;
    border: 3px solid #9daecc;
    width: 80%;
    margin: 0 auto;
}

th,td {
    border: 1px solid #9daecc;
    padding: .5em;
    text-align: center;
}

th[scope="row"] {
    text-align: center;
    font-weight: normal;
}

th[scope="colgroup"] {
    background-color: #dbe5f5;
    color: #0b3d91;
    text-align: center;
}

table:focus {
    outline: 3px solid #0b3d91;
}
header h2 {
    padding-bottom: .2em;
}

footer {
    text-align: center;
    font-size: .8em;
    line-height: 4em;
    margin-top: 1em;
}